
  
ol.orbit-bullets
  display: none
  


.orbit-bullets
  display:none

.fill
  border-style: solid
  border-width: 1px
  border-color: #d8d8d8
  margin-bottom: .75rem
  background-color: #f4f4f4
  padding: 20px
  margin-top: none
    
  h3
    margin-top: none
    margin-bottom: .25em
    
    
    
.home-banner
  padding-top: 2.25rem
  padding-bottom: 2.25rem
    
.fill-2
  border-style: solid
  border-width: 1px
  border-color: $white
  padding: 1.12rem
  margin-bottom: .75rem
  background-color: $white
  padding: 20px
  margin-top: none
    
div.panel.callout
  margin-top: 2.5em
    
.left-main p, .left-main h4
  padding-right: 2em

strong
  font-size: $paragraph-font-size
  font-weight: bold
  background-color: yellow
    
h1
  padding-top: .25em
  padding-bottom: .5em
    
h3
  margin-top: 1.5em
  
.fill h3

  margin-top: 0
  
h3.subheader, 
  padding-bottom: 1rem
  margin-top: 2rem
    
h4.subheader
  padding-bottom: 2rem
  margin-top: 1rem
      
h5
  padding-top: .5rem
  padding-bottom: 2.5rem

h6
  font-size: $h6-font-size
  font-weight: bold
  color: #333333
  
.panel
  line-height: $panel-line-height