
@import base/init

// Global Zurb Foundation variables.
@import "vendor/foundation/settings"
// Comment out this import below if you are customizing you imports below.
@import "vendor/_foundation.scss"

// Import our mixins early so they can be used by other partials.
// Optional.
@import "base/mixins"

// Common file is where you place common utility classes to extend or
// parametrics.
// Optional.
// @import "base/common";

// Fix for some Drupal CSS quirks (Drupalisms).
@import base/drupal

// Styling for elements.
// Optional.
// @import "base/elements";

// Layout
// Each section of the document has it's own partial seperated out to improve
// developer experience. Additionally, grids can be declared in layouts as well.
@import layout/header
@import layout/main
@import layout/aside
@import layout/footer


// Modules
// @import "modules/block";
// @import "modules/button";

// States
// @import "states/collapse";

// Themes
// @import "theme/button-light";

// Older IE support
// @import "vendor/ie";

@mixin h2-blk
  font-family: $nimbus
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  margin-top: 1.3rem  
  font-size: $h2-font-size
  
@mixin h1-standard
  font-family: $nimbus
  letter-spacing: 1px
  padding-top: .5em
  line-height: 1em
  font-weight: 900
  text-transform: uppercase
  font-size: $h1-font-size
  
@mixin link
  font-family: $nimbus
  font-weight: 400
  color: $primary-color
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: $pad-2
    


//header 
.logo
  img
    margin-left: 1rem
    margin-top: -1rem


    
.breadcrumbs
  display: none
    
#main-menu-links
  margin-top: -1.5rem

//featured   
.l-featured
  .block-views-hp-slider-block
    background-color: $black
    color: $white
    
    
    h2
      +h1-standard
      color: $white
      margin-bottom: .05rem
      width: 60%
        
    p
      margin-top: -2.5rem
      font-size: rem-calc(24)
      width: 70%
    
  .node
    padding-bottom: 0
    padding-top: 0
    padding-right: 0
  
  div.body.field
    margin-top: -25rem
    
  .medium-12
    padding-right: 0px
    padding-left: 0px
    
  a
    .orbit-prev
      margin-right: 1rem

div.orbit-timer
  display: none
      
//footer

.footer-second
  li
    display: inline
    padding-left: 1.5rem 
    font-family: $nimbus
    font-weight: 400
    color: #777777
    text-transform: uppercase
    letter-spacing: 1px
    margin-bottom: $pad-2
      
  a
    font-family: $nimbus
    font-weight: 400
    color: $primary-color
    text-transform: uppercase
    letter-spacing: 1px
    margin-bottom: $pad-2
    font-size: 1rem
    
      
.block-menu-menu-footer-menu
  float: right  
    
.footer-first
  p
    font-size: 1.1rem

.footer,
.field-name-editorial-date,
  padding-top: $pad-2 
  p
    font-family: $nimbus
    font-weight: 400
    color: #777777
    text-transform: uppercase
    letter-spacing: 1px
    margin-bottom: $pad-2

//issues  
.view-id-issues
  h2
    padding-top: 2rem
      
.node-issues
  p
    font-size: $paragraph-font-size
    font-family: $paragraph-font-family
    font-weight: normal
   
  h2
    font-family: $paragraph-font-family
    font-size: $h2-font-size
    font-weight: 500
    
    
.views-row
  .panel
    margin-bottom: $pad-2
    outline-color: $tan
    background-color: $tan
    margin-left: auto
    margin-right: auto
    

    
//news    
@mixin news-date
  padding-top: 1.5rem
  margin-bottom: 2.3rem
  line-spacing: 1px
  



      
.block-views-news-block-2
  margin-top: 3rem
  h2
    +h2-blk
    
  img
    opacity: 0.6
    filter: alpha(opacity=40)
    margin-top: 0.5rem
    padding-top: 0.25rem
    padding-bottom: 0.75rem
      
.field-name-node-link
  padding-bottom: 1rem
  a
    +link
   
    
      
.field-name-field-quote
  font-family: "ff-more-web-pro"
  color: #222222
  line-height: 1.6em
  font-weight: 400
  margin-top: 0.8rem
  margin-bottom: 1.8rem
  font-size: 1.625rem
  padding-right: 0.5rem

.block-views-news-block
  h2
    +h2-blk    

.block-views-news-block 
  padding-top: 1rem
  
  .views-field-title
    margin-bottom: 1.6rem


.view-id-news
  h2
    font-family: $morepro
    line-height: 1.2em
    font-weight: 500
    margin-top: $pad-2
    margin-bottom: $pad-1
    font-size: $h3-font-size
    
.field-name-editorial-date
  +news-date

.page-flight-front, .page-news
  .field-name-editorial-date
    +news-date
    margin-top: -1.0rem


//general
p
  margin-bottom: 1.5rem
    
.group-content
  margin-left: 1rem
  padding-right: 2rem

.main
  margin-bottom: 1.5rem
    



//stay informed blocks

.block-bean-stay-informed
  background-color: $tan
  
  h4
    +h2-blk
  
  img
    margin-left: 4.5rem
    padding-right: 0
    
.diptych2-first
  .block-bean-stay-informed
    img
      display: none
  
  .medium-7
    padding: 1rem
    margin-left: 3rem
      
  .collapse
    width: 105%
    
.node-webform
  padding-left: 2rem
        
   
    
    
    
    
    
//share

#share42
  background-color: $tan
  
  &:hover
    background: transparent
    border: 0px solid transparent
    box-shadow: 0 0 0 transparent
      
  a
    background-image: none !important

@mixin icon-layout
  font-size: 2rem


.share42-item:nth-child(1)
  padding-top: 1rem
  padding-right: 1rem
  padding-bottom: 4rem
  a
    +icon(facebook)
    +icon-layout
      
.share42-item:nth-child(2)
  padding-right: 2rem
  a
    +icon(twitter)
    +icon-layout
    padding-right: 2rem
      
.share42-item:nth-child(3)
  padding-right: 1rem
  a
    +icon(linkedin)
    +icon-layout

  
.fill
  padding: 1rem

  h2
    +h2-blk
    margin-top: -1rem
    
.l-diptych2
  height: 190
  
  .medium-4
    background-color: $tan
    
  
#share42 img 
 display: none
    
    
//twitter

.tweet-authorphoto
  display: none
    
.tweet-author
  display: none

.diptych2-middle
  .block-noon48-config
    background-color: $tan
    padding: $pad-1
    margin-top: -.05rem
    padding-bottom: $pad-4
    
  hr
    display: none
  
.tweets-pulled-listing
  margin-top: 0.3rem
  
.tweet-actions
  padding-top: 2rem
  +link
  
  a
    padding-right: 0.5rem
    padding-top: 1rem
      
.tweet-screenname
  +h2-blk
  margin-top: 0.5rem

.tweet-text
  font-size: 0.9rem
    
    
//twitter-sidebar

  
.block-noon48-config-twitter
  background-color: $tan
  margin-top: 8rem
  margin-left: -0.5rem
  padding-left: 1rem
  padding-right: 1rem
  width: 250px
  
  h2
    +h2-blk
  
  li
    list-style-type: none
    padding-left: 0.75rem
    padding-right: 0.5rem
      
    .tweet-screenname
      display: none
      
      
  .tweet-divider
    display: none
  
  ul
    margin-left: 0rem
    padding-top: 1rem
    margin-right: 0.25rem
    
    
  
  
  
    
      
  

  
  

    


//endorsers block

  
  
.block-bean-endorsers
  background-color: $tan
  padding: $pad-2
  margin-top: $pad-2
  margin-bottom: $pad-2
  
  table
    border: none
    
    body
      border-top: none
  h2
    +h2-blk
    
  tr
    background-color: transparent
    
    .even
      background-color: transparent
    
    &:nth-of-type(even)
      background-color: transparent
  
  span
    font-family: "ff-more-web-pro"
    font-weight: normal
    font-size: 1.2rem
    text-rendering: optimizeLegibility
    line-height: 1.6
  
  


    

.page-flight-front
  main
    hr
      display: none

        
//sidebar  
.group-right
  img
    position: relative
    top: 20px
    
//from the wireframe styles//

header
  background-color: $tan

.section
  margin-top: $pad-2

.node
  padding-bottom: $pad-2
  padding-top: $pad-2
  padding-right: $pad-1
  //border-bottom: 2px solid #ddd

.intro
  padding-bottom: $pad-2
  padding-right: $pad-1


.newslogoindex
  padding-bottom: $pad-1

.newslogo
  padding-left: $pad-2

.inthenews
  padding-left: $pad-1
  
ol.orbit-bullets
  display: none

.orbit-bullets
  display:none

.fill
  background-color: $tan
  padding: $pad-2
  margin-top: $pad-2

.fill-2
  background-color: #f4f4f4
  padding: $pad-1 $pad-1 $pad-2 $pad-1
  margin-bottom: $pad-2
    

    
div.panel.callout
  margin-top: 2.5em
    
.left-main p, .left-main h4
  padding-right: 2em

h1
  font-family: $nimbus
  letter-spacing: 1px
  padding-top: .5em
  line-height: 1em
  font-weight: 900
  text-transform: uppercase

h1.subheader
  font-family: $nimbus
  color: #ffffff
  letter-spacing: 1px
  padding-top: .5em
  line-height: 1em
  font-weight: 900
  text-transform: uppercase

h2 .page-title
  font-family: $nimbus
  font-weight: 700
  text-transform: uppercase
  letter-spacing: 1px
  margin-top: 1.3rem

    
h3
  font-family: $morepro
  line-height: 1.2em
  font-weight: 500
  margin-top: $pad-2
  margin-bottom: $pad-1

a
  color: #be1e2d

  &:hover
    color: red
  
.postfix.button
     &:hover
      background-color: red
  
    
  
.fill h3
  margin-top: 0
  
h4
  font-family: $morepro
  color: #222222
  line-height: 1.6em
  font-weight: 400
  margin-top: $pad-1
  margin-bottom: $pad-1

      
h5
  font-family: $nimbus
  font-weight: 400
  color: #777777
  text-transform: uppercase
  letter-spacing: 1px
  margin-bottom: $pad-2


h6
  font-size: $h6-font-size
  font-weight: bold
  color: #333333
  padding-bottom: 1rem
   

